<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <h1>Register Form</h1>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Name"> <br> <br>
        <input type="text" name="email" placeholder="Email"> <br> <br>
        <input type="text" name="mobile" placeholder="Mobile Number"> <br> <br>
        <input type="text" name="password" placeholder="Password"> <br> <br>
        <input type="text" name="repassword" placeholder="Re Password"> <br> <br>
        <button type="submit">Register</button>
        <a href="http://localhost:8000/login"><button type="button">Login</button></a>
    </form>
</body>

</html>